body{
    text-align: center;
}
/*styling grid for hero,score and villian */
.grid1{
    display: grid;
    grid-template-columns: 480px 280px 480px;
    justify-content: center;
  }

#align-right{
    grid-area:4/3/5/4;
}  

/* styling each grid of heros and villians */
.grid2{
    display: grid;
    grid-template-rows:repeat(4, 250px);
    grid-template-columns: 1fr 1fr 1fr;
}

.grid2>div>p{
    width: 90px;
    padding-left: 30px;
    font-weight: 550;
    opacity: 0.7;
    margin-top: -3px;
}

.grid2>div>h1{
    font-weight: 540;
    font-size: 50px;
    margin-top: -15px;
}

.grid2>div>img{
    width: 100px;
    margin-top: 15px;
}

#score>h1{
    font-weight: 540;
    font-size: 50px;

}

.box{
    border: 3px solid #E6E6E6;
    width: 140px;
    height: 225px;
    border-radius: 10px;
    box-shadow:0 0 1px grey ;
}
  
.footer{
    margin-top: 100px ;
    font-size : 18px;
  }