body{
    text-align: center;
}
.grid1{
    display: grid;
    grid-template-columns: 320px 280px 320px;
    justify-content: center;
  }
  
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid2>div>p{
    width: 90px;
    padding-left: 30px;
    font-weight: 550;
    opacity: 0.7;
    margin-top: -3px;
}

.grid2>div>h1{
    font-weight: 540;
    font-size: 50px;
    margin-top: -15px;
}

.grid2>div>img{
    width: 100px;
    margin-top: 15px;
}

#score>h1{
    font-weight: 540;
    font-size: 50px;

}

.box{
    border: 3px solid #E6E6E6;
    width: 140px;
    height: 225px;
    border-radius: 10px
}
  
.footer{
    text-align: right;
    margin: 450px 30px 0 0;
    font-size : 18px;
  }